@import "./vars.css";

.App {
    background-color: var(--color-bg);
    font-family: var(--font-Sourse-Sans);
    width: 100%;
    height: 100vh;
    background: linear-gradient(60deg, var(--color-bg) 50%, #E56399 50%);

}
