:root {
    /* colours */
    --color-text: #fff;
    --color-primary: #000;
    --color-secondary: #5A1FA0;
    --color-dark: #2a2a2d;
    --color-bg: #141416;

    /* fonts */
    --font-Sourse-Sans: "Source Sans Pro";
}
